body {
  margin: 0;
  background-color: black;
  font-family: 'Handlee', 'Bad Script', arial;
  --color-yellow-page: #f4eb90;
  --color-grey-line: #ccc68a;
  --color-brown-line: #d6a45d;
  --cell-height: 25px;
  --cell-border: 2px; /* Must be an even number */
  --cell-half-border: calc(var(--cell-border) / 2);
  --cell-total-height: calc(var(--cell-height) + var(--cell-border));
  --text-shadow: none; /* drop-shadow(2px 2px 2px var(--color-grey-line)); */
  --div-shadow: drop-shadow(1px 1px 3px var(--color-grey-line));
}

div.wrapper {
  width: 375px;
  max-width: 100%;
  margin: 0 auto;
}

header {
  background-color: var(--color-yellow-page);
  width: 100%;
  height: 50px;
  user-select: none;
}

h1 {
  text-align: center;
  padding-top: 14px;
  filter: var(--text-shadow);
}

hr {
  border: 1px solid var(--color-brown-line);
  border-radius: 1px;
}

main {
  min-height: 486px;
  background-color: var(--color-yellow-page);
  /* Draw horizontal cells separated by lines using the colors
  and dimensions set by variables */
  background: repeating-linear-gradient(var(--color-grey-line) 0 var(--cell-border),
              var(--color-yellow-page) var(--cell-border) var(--cell-total-height));
}

div.cell {
  padding-top: 1px;
  padding-left: 30px;
  height: var(--cell-total-height);
  border-top: var(--cell-half-border) solid transparent;
  border-bottom: var(--cell-half-border) solid transparent;
  display: flex;
  align-items: center;
  filter: var(--text-shadow);
  user-select: none;
}

div.task > span {
  align-self: flex-end;
}

div.checkmark {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

div.completed > span {
  text-decoration: line-through;
}

div.checkmark p {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  visibility: hidden;
}

div.completed div.checkmark p {
  visibility: visible;
}

/* Tooltip container */
span.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
span.tooltip span.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 250px;
  background-color: var(--color-yellow-page);
  
  filter: var(--div-shadow);
  padding: 5px;
  left: 0;
  right: 0;
  top: var(--cell-height);
  margin: 0 auto;
}

/* Show the tooltip text on mouseover */
span.tooltip:hover span.tooltip-text {
  visibility: visible;
}

div.delete-button {
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  padding-top: 2px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  visibility: hidden;
}

div.completed div.delete-button {
  visibility: visible;
}

button {
  cursor: pointer;
}

button#add-task {
  font-weight: bold;
  background-color: transparent;
  border: 1px solid black;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

input#task-input {
  background-color: transparent;
  border: none;
  align-self: flex-end;
}

input#task-input:focus {
  background-color: transparent;
  outline: none;
}